<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="document-mini-info-div">
                <div class="col-md-12 document-div">
                    <h4><strong class="document-h-label">Owner:</strong> {{document?.owner}}</h4>
                    <h6><strong class="document-h-label">Created on:</strong> {{document?.createdOnUtc}}</h6>
                    <br>
                    <h4><strong class="document-h-label">Title:</strong> {{document?.title}}</h4>
                    <h4><strong class="document-h-label">Subject:</strong></h4>
                    <div [innerHTML]="document?.subject">
        
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div ng-if="document.isOwnerDocument">
                <div>
                    <h4>Viewers</h4>
                    <br>
                    <h6 *ngFor="let viewer of viewers">{{viewer.username}}</h6>
                </div>
                <br>
                <div>
                    <h4>Editors</h4>
                    <br>
                    <h6 *ngFor="let editer of editers">{{editer.username}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

