<div class="container user-container">
    <div class="user-header">
        <div class="col-md-12" style="margin:0; padding:0">
            <user-header></user-header>
        </div>
    </div>
    <div class="">
        <div class="col-sm-3 col-md-2 col-lg-1 col-1" style="margin:0; padding:0">
            <user-sidebar></user-sidebar>
        </div>
        <div class="col-sm-9 col-md-10 col-lg-11" style="margin:0; padding:0">
            <app-user-content></app-user-content>
        </div>
    </div>
</div>