<ng-progress [positionUsing]="'marginLeft'" [direction]="'leftToRightIncreased'" [color]="'#4286f4'" [trickleSpeed]="500"
    [thick]="true" [ease]="'easeInSine'"></ng-progress>
<div class="container user-container">
    <div class="user-header">
        <div class="col-md-12" style="margin:0; padding:0">
            <user-header></user-header>
        </div>
    </div>
    <div class="">
        <div class="col-md-12" style="margin:0; padding:0">
            <app-user-content></app-user-content>
        </div>
    </div>
</div>