<div class="container">
    <div class="row client-info-column">
        <div class="panel-left">
            <h2>My documents</h2>
        </div>
        <div class="panel-right">
            <button type="button" class="btn btn-primary ti-button-control" data-toggle="modal" data-target="#addNewDocumentModal">
                Add new document
            </button>
            <button type="button" class="btn btn-info ti-button-control" (click)="refresh()">
                Refresh
            </button>
        </div>

    </div>

    <add-document (documentEmitter)="documentEmitAction($event)"></add-document>
    <edit-document [document]="editDocument" *ngIf="renderEditModal" (documentEmitter)="documentEmitAction($event)"></edit-document>
    <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
    <div class="row" *ngFor="let document of documents">
        <div class="document-mini-info-div">
            <div class="col-md-12 document-div">
                <h4>
                    <strong class="document-h-label">Owner:</strong> {{document.owner}}</h4>
                <h6>
                    <strong class="document-h-label">Created on:</strong> {{document.createdOnUtc}}</h6>
                <br>
                <h4>
                    <strong class="document-h-label">Title:</strong> {{document.title}}</h4>
                <p>
                    <a [routerLink]="['document/' + document.id]" style="cursor: pointer;">View</a>
                    <a (click)="edit(document)" data-toggle="modal" data-target="#editDocumentModal" style="cursor: pointer;">Edit</a>
                    <a (click)="delete(document.id)" style="cursor: pointer;">Delete</a>
                </p>
            </div>
        </div>
    </div>
</div>